<div class="page">
  <div>
    <p>Contacts:</p>
    <div class="contact-card-box">
      <div *ngFor="let contact of user.contacts">
        <div (click)="showDetail(contact.id)" class="contact-card">
          <p class="contact-name">{{ contact.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="viewModal" *ngIf="showViewModal">
    <div id="viewBox">
      <button class="close-view-box" (click)="hideDetail()">x</button>
      <div class="detail-header">
        <h2>{{ contactDetail.name }}</h2>
      </div>
      <p *ngIf="contactDetail.address !== ''">Address: {{ contactDetail.address }}</p>
      <p *ngIf="contactDetail.mobile !== ''">Mobile: {{ contactDetail.mobile }}</p>
      <p *ngIf="contactDetail.work !== ''">Work: {{ contactDetail.work }}</p>
      <p *ngIf="contactDetail.home !== ''">Home: {{ contactDetail.home }}</p>
      <p *ngIf="contactDetail.email !== ''">Email: {{ contactDetail.email }}</p>
      <p *ngIf="contactDetail.twitter !== ''">Twitter: {{ contactDetail.twitter }}</p>
      <p *ngIf="contactDetail.instagram !== ''">Instagram: {{ contactDetail.instagram }}</p>
      <p *ngIf="contactDetail.github !== ''">Github: {{ contactDetail.github }}</p>
      <button (click)="showEdit(contactDetail.id)">Edit</button>
      <button (click)="delete(contactDetail.id)">Delete</button>
    </div>
  </div>

  <div id="editModal" *ngIf="showEditModal">
    <div id="editBox">
      <button class="close-edit-box" (click)="hideEdit()">x</button>
      <div class="edit-header">
        <h2>{{ contactDetail.name }}</h2>
      </div>

      <form>
        <div>
          <label for="name">Name:</label>
        </div>
        <div>
          <input type="text" name="name" [(ngModel)]="updateContactData.name" />
        </div>

        <div>
          <label for="address">Address:</label>
        </div>
        <div>
          <input type="text" name="address" [(ngModel)]="updateContactData.address" />
        </div>

        <div>
          <label for="mobile">Mobile:</label>
        </div>
        <div>
          <input type="text" name="mobile" [(ngModel)]="updateContactData.mobile" />
        </div>

        <div>
          <label for="work">Work:</label>
        </div>
        <div>
          <input type="text" name="work" [(ngModel)]="updateContactData.work" />
        </div>

        <div>
          <label for="home">Home:</label>
        </div>
        <div>
          <input type="text" name="home" [(ngModel)]="updateContactData.home" />
        </div>

        <div>
          <label for="email">Email:</label>
        </div>
        <div>
          <input type="text" name="email" [(ngModel)]="updateContactData.email" />
        </div>

        <div>
          <label for="twitter">Twitter:</label>
        </div>
        <div>
          <input type="text" name="twitter" [(ngModel)]="updateContactData.twitter" />
        </div>

        <div>
          <label for="instagram">Instagram:</label>
        </div>
        <div>
          <input type="text" name="instagram" [(ngModel)]="updateContactData.instagram" />
        </div>

        <div>
          <label for="github">Github:</label>
        </div>
        <div>
          <input type="text" name="github" [(ngModel)]="updateContactData.github" />
        </div>

        <button (click)="hideEdit()">Cancel</button>
        <button (click)="editDetail(contactDetail.id)">Update</button>
      </form>
      <!-- end form -->
    </div>
  </div>
</div>
