<div class="page">
  <div>
    <form>
      <div>
        <label for="name">Name:</label>
      </div>
      <div>
        <input type="text" name="name" [(ngModel)]="newContactData.name" />
      </div>

      <div>
        <label for="address">Address:</label>
      </div>
      <div>
        <input type="text" name="address" [(ngModel)]="newContactData.address" />
      </div>

      <div>
        <label for="mobile">Mobile:</label>
      </div>
      <div>
        <input type="text" name="mobile" [(ngModel)]="newContactData.mobile" />
      </div>

      <div>
        <label for="work">Work:</label>
      </div>
      <div>
        <input type="text" name="work" [(ngModel)]="newContactData.work" />
      </div>

      <div>
        <label for="home">Home:</label>
      </div>
      <div>
        <input type="text" name="home" [(ngModel)]="newContactData.home" />
      </div>

      <div>
        <label for="email">Email:</label>
      </div>
      <div>
        <input type="text" name="email" [(ngModel)]="newContactData.email" />
      </div>

      <div>
        <label for="twitter">Twitter:</label>
      </div>
      <div>
        <input type="text" name="twitter" [(ngModel)]="newContactData.twitter" />
      </div>

      <div>
        <label for="instagram">Instagram:</label>
      </div>
      <div>
        <input type="text" name="instagram" [(ngModel)]="newContactData.instagram" />
      </div>

      <div>
        <label for="github">Github:</label>
      </div>
      <div>
        <input type="text" name="github" [(ngModel)]="newContactData.github" />
      </div>

      <button (click)="submit()">Submit</button>
    </form>
  </div>

  <div id="viewModal" *ngIf="showViewModal">
    <div id="viewBox">
      <div class="detail-header">
        <div class="detail-header-left">
          <h1>Successfully added contact!</h1>
          <h2>{{ newContactData.name }}</h2>
        </div>
        <div class="detail-header-right">
          <div [ngClass]="{ 'circle-loader': true, 'load-complete': toggleClass }">
            <div [ngClass]="{ checkmark: toggleClass, draw: toggleClass }"></div>
          </div>
        </div>
      </div>
      <p *ngIf="newContactData.address !== ''">Address: {{ newContactData.address }}</p>
      <p *ngIf="newContactData.mobile !== ''">Mobile: {{ newContactData.mobile }}</p>
      <p *ngIf="newContactData.work !== ''">Work: {{ newContactData.work }}</p>
      <p *ngIf="newContactData.home !== ''">Home: {{ newContactData.home }}</p>
      <p *ngIf="newContactData.email !== ''">Email: {{ newContactData.email }}</p>
      <p *ngIf="newContactData.twitter !== ''">Twitter: {{ newContactData.twitter }}</p>
      <p *ngIf="newContactData.instagram !== ''">Instagram: {{ newContactData.instagram }}</p>
      <p *ngIf="newContactData.github !== ''">Github: {{ newContactData.github }}</p>

      <button (click)="showContacts()">View Contacts</button>
      <button (click)="hideView()">Add more Contacts</button>
    </div>
  </div>
</div>
