<div class="page">
  <h1>Register page</h1>

  <div class="register-container">
    <form>
      <div>
        <div>
          <label for="username">Username:</label>
        </div>
        <input
          type="text"
          [ngClass]="{ error: invalidData.invalidUsername && username.dirty }"
          name="username"
          placeholder="username"
          [(ngModel)]="newUserData.username"
          (keyup)="validateData()"
          #username="ngModel"
        />
        <div class="error-message" *ngIf="invalidData.invalidUsername && username.dirty">
          {{ invalidData.usernameMessage }}
        </div>
      </div>

      <div>
        <div>
          <label for="password">Password:</label>
        </div>
        <input
          type="password"
          [ngClass]="{ error: invalidData.invalidPassword && password.dirty }"
          name="password"
          placeholder="password"
          [(ngModel)]="newUserData.password"
          (keyup)="validateData()"
          #password="ngModel"
        />
        <div class="error-message" *ngIf="invalidData.invalidPassword && password.dirty">
          {{ invalidData.passwordMessage }}
        </div>
      </div>

      <div>
        <div>
          <label for="passwordCheck">Confirm Password:</label>
        </div>
        <input
          type="password"
          [ngClass]="{ error: invalidData.invalidPasswordCheck && passwordCheck.dirty }"
          name="passwordCheck"
          placeholder="confirm password"
          [(ngModel)]="newUserData.passwordCheck"
          (keyup)="validateData()"
          #passwordCheck="ngModel"
        />
        <div class="error-message" *ngIf="invalidData.invalidPasswordCheck && passwordCheck.dirty">
          {{ invalidData.passwordCheckMessage }}
        </div>
      </div>

      <div>
        <div>
          <label for="name">Name:</label>
        </div>
        <input
          type="text"
          [ngClass]="{ error: invalidData.invalidName && name.dirty }"
          name="name"
          placeholder="full name (optional)"
          [(ngModel)]="newUserData.name"
          (keyup)="validateData()"
          #name="ngModel"
        />
        <div class="error-message" *ngIf="invalidData.invalidName && name.dirty">
          {{ invalidData.nameMessage }}
        </div>
      </div>

      <div>
        <div>
          <label for="email">E-mail:</label>
        </div>
        <input
          type="text"
          [ngClass]="{ error: invalidData.invalidEmail && email.dirty }"
          name="email"
          placeholder="email (optional)"
          [(ngModel)]="newUserData.email"
          (keyup)="validateData()"
          #email="ngModel"
        />
        <div class="error-message" *ngIf="invalidData.invalidEmail && email.dirty">
          {{ invalidData.emailMessage }}
        </div>
      </div>

      <div>
        <div>
          <label for="address">Address:</label>
        </div>
        <input
          type="text"
          [ngClass]="{ error: invalidData.invalidAddress && address.dirty }"
          name="address"
          placeholder="address (optional)"
          [(ngModel)]="newUserData.address"
          (keyup)="validateData()"
          #address="ngModel"
        />
        <div class="error-message" *ngIf="invalidData.invalidAddress && address.dirty">
          {{ invalidData.addressMessage }}
        </div>
      </div>

      <div>
        <button
          class="btn"
          (click)="register()"
          [disabled]="
            invalidData.invalidUsername ||
            invalidData.invalidName ||
            invalidData.invalidEmail ||
            invalidData.invalidAddress ||
            invalidData.invalidPassword ||
            invalidData.invalidPasswordCheck
          "
        >
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
