<div class="page">
  <div class="searchBox">
    <form>
      <label for="name">Search contacts:</label>
      <div>
        <input type="text" name="name" [(ngModel)]="searchName.name" (keyup)="submit()" />
      </div>
    </form>
  </div>

  <div class="contact-card-box">
    <div *ngFor="let contact of foundNames">
      <div (click)="showDetail(contact.id)" class="contact-card">
        <p class="contact-name">{{ contact.name }}</p>
      </div>
    </div>
  </div>
</div>

<div id="viewModal" *ngIf="showViewModal">
  <div id="viewBox">
    <button class="close-view-box" (click)="hideDetail()">x</button>
    <div class="detail-header">
      <h2>{{ contactDetail.name }}</h2>
    </div>
    <p *ngIf="contactDetail.address !== ''">Address: {{ contactDetail.address }}</p>
    <p *ngIf="contactDetail.mobile !== ''">Mobile: {{ contactDetail.mobile }}</p>
    <p *ngIf="contactDetail.work !== ''">Work: {{ contactDetail.work }}</p>
    <p *ngIf="contactDetail.home !== ''">Home: {{ contactDetail.home }}</p>
    <p *ngIf="contactDetail.email !== ''">Email: {{ contactDetail.email }}</p>
    <p *ngIf="contactDetail.twitter !== ''">Twitter: {{ contactDetail.twitter }}</p>
    <p *ngIf="contactDetail.instagram !== ''">Instagram: {{ contactDetail.instagram }}</p>
    <p *ngIf="contactDetail.github !== ''">Github: {{ contactDetail.github }}</p>
  </div>
</div>
